<!DOCTYPE html> 
<html>
  <head>
    <title>Jungle Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h3><center>Jungle Lib</center></h3>
      <p>Today I went to the zoo. I saw a(n)
@Model.Adjective
@Model.Noun jumping up and down in its tree.
He @Model.Verb 
through the large tunnel that led to its @Model.Adjective
@Model.Noun . I got some peanuts and passed
them through the cage to a gigantic gray @Model.Noun
towering above my head. Feeding that animal made
me hungry. I went to get a @Model.Adjective scoop
of ice cream. It filled my stomach. Afterwards I had to
@Model.Verb to catch our bus.
When I got home I @Model.Verb
mom for a @Model.Adjective day at the zoo. </p>
    </div>
  </body>
</html>