<!DOCTYPE html> 
<html>
  <head>
    <title>Jungle Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h3><center>Jungle Lib</center></h3>
      <p>I walk through the color jungle. I take out my
        @Model.Adjective canteen. There's a
        @Model.Adjective parrot with a @Model.Adjective
        @Model.Noun in his mouth right there in front
        of me in the @Model.Adjective trees! I gaze at his
        @Model.Adjective @Model.Noun. A sudden
        sound awakes me from my daydream! A panther’s
        @Model.Verb in front of my head! I
        @Model.Verb his @Model.Adjective
        breath. I remember I have a packet of @Model.Noun
        that makes go into a deep slumber! I
        @Model.Verb it away from me in front of the
        @Model.Noun Yes he's eating it! I
        @Model.Verb away through the
        @Model.Adjective jungle. I meet my parents at the
        tent. Phew! It’s been an exciting day in the jungle.</p>
    </div>
  </body>
</html>