<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Select your Theme!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Choose one:</h1>
    <form action="/Jungle" method="post">
      <input name="adjective" value="@Model.Adjective" />
      <input name="noun" value="@Model.Noun" />
      <input name="verb" value="@Model.Verb" />
      <input name="animal" value="@Model.Animal" />
    <button type="submit">Jungle</button>
    </form>

    <form action="/Zoo" method="post">
      <input name="adjective" value="@Model.Adjective" />
      <input name="noun" value="@Model.Noun" />
      <input name="verb" value="@Model.Verb" />
      <input name="animal" value="@Model.Animal" />
    <button type="submit">Zoo</button>
    </form>

    <form action="/Monkey" method="post">
      <input name="adjective" value="@Model.Adjective" />
      <input name="noun" value="@Model.Noun" />
      <input name="verb" value="@Model.Verb" />
      <input name="animal" value="@Model.Animal" />
    <button type="submit">Monkey</button>
    </form>
  </body>
</html>